<Doc as |doc|>
  <doc.element @name="Date">
    <JubileeDate
      @locale="de"
      @selected={{this.selected}}
      @onSelect={{fn (mut this.selected)}}
    />
  </doc.element>
  <doc.controls />
  <doc.hbs @code={{this.code}} />
  <doc.info>
    <p>
      This component adheres to DDAU.
    </p>
  </doc.info>
</Doc>