<Doc as |doc|>
  <doc.element @name="Date">
    
  </doc.element>
  <doc.controls />
  <doc.hbs @code={{this.code}} />
  <doc.info>
    <p>
      This component adheres to DDAU.
    </p>
  </doc.info>
</Doc>