@value onSurface, onSurfaceDark from 'colors';
@value primary, separator from 'colors';

.inputClass {
  height: 2.5rem; // 40px with 16px default font-size

  width: 100%;
  
  margin-top: 0.25rem; // 4px
  margin-bottom: 0.25rem; // 4px  

  box-sizing: border-box;
  border: 2px solid transparent;

  font-family: inherit;
  font-size: 1.125rem;

  color: onSurfaceDark;
  
}

.inputClass:focus {
  outline: none;
}

.inputClassSmall {
  background: transparent;
}

.inputClassLarge {
  padding-left: 0.5rem; // 8px
  padding-right: 0.5rem; // 8px

  background: #f0f2f4;
}

.inputClassLarge:focus {  
  border-bottom-color: primary;
  
}