//@value primary, onPrimary, primaryLight from 'colors';
@value primary, onPrimary, primaryLight from '@jubileesoft/ember-jubileesoft-ui/styles/colors';

.root {
  height: 2.5rem; // 40px
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
}

.inverse {
  color: primary;
  background: transparent;
}

.inverse:hover {
  background: primaryLight;
  color: #ffffff;
}

.nonInverse {
  background: primary;
  color: onPrimary;
}

.nonInverse:hover {
  background: primaryLight;
}