@value primary, accent, accentLight, textOnLight, textOnDark from 'colors';

.inputClass {
  height: 2.5rem; // 40px with 16px default font-size
  
  margin-top: 0.25rem; // 4px
  margin-bottom: 0.25rem; // 4px  

  box-sizing: border-box;
  border: 2px solid transparent;

  font-family: inherit;
  font-size: 1.125rem;

  //color: onSurfaceDark;
  
  background: transparent;
  padding-left: 0.5rem; // 8px
  padding-right: 0.5rem; // 8px
}

.inputClass:focus {
  outline: none;
  border-bottom-color: primary;
}

.inputClassLight {
  color: textOnLight;
  border-bottom-color: accent;
}

.inputClassLight::placeholder {
  color: accentLight;
}

.inputClassDark {
  color: textOnDark;
  border-bottom-color: accentLight;
}

.inputClassDark::placeholder {
  color: accent;
}