//@value desk from 'colors';
//@value onSurfaceDark from 'colors';
//@value primary from 'colors';
//@value secondary from 'colors';
@value desk from '@jubileesoft/ember-jubileesoft-ui/styles/colors';
@value onSurfaceDark from '@jubileesoft/ember-jubileesoft-ui/styles/colors';
@value primary from '@jubileesoft/ember-jubileesoft-ui/styles/colors';
@value secondary from '@jubileesoft/ember-jubileesoft-ui/styles/colors';


.collapsed {
  visibility: collapse; 
}

.root {
  composes: jubileeUi from '@jubileesoft/ember-jubileesoft-ui/styles/addon';  
}

.largeRoot {
  position: relative;
  display: inline-block;
}

.trigger {
  height: 2.5rem; // 40px

  padding: 0 0.5rem; // 0 8px with 16px default font-size

  //box-sizing: border-box;
  border: 1px solid rgba(155, 155, 155, 0.6);
    
  font-size: 1.125rem; // 16px with 16px default font-size

  color: onSurfaceDark;
  background: desk;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.trigger .content {

}

.trigger .caret {
  margin-left: 0.5rem; // 8px
}

.dropdown {
  position: absolute;
  padding: 0.5rem 0;

  //box-sizing: border-box;
  border: 1px solid primary;

  background: #ffffff;
  z-index: 1;

  color: onSurfaceDark;
  
  font-size: 1.125rem; // 16px with 16px default font-size  
}

.smallItemContainer {
  height: 2.5rem; // 40px
  
  padding: 0 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  cursor: pointer;
}

.smallItemContainer:hover {
  background: secondary;
}

.smallItem {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: onSurfaceDark;
}

.smallItemSelected {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: primary;
}

.item {
  height: 2.5rem; // 40px

  padding: 0 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;
}

.item:hover {
  background: secondary;
}

.itemSelected {
  background: desk;
}

.selectedColor {
  color: primary;
}