//@value onSurface from 'colors';
@value onSurface from '@jubileesoft/ember-jubileesoft-ui/styles/colors';

.root {
  composes: jubileeUi from "@jubileesoft/ember-jubileesoft-ui/styles/addon";

  font-size: 1rem; // 16px with 16px default font-size
  color: onSurface;

  display: flex;
  flex-direction: row;

  margin-bottom: 0.25rem; // 4px with 16px default font-size
}

.label {
  font-weight: 500;
  margin-right: 0.25rem; // 12px with 16px default font-size
}

.label2 {
  font-weight: 400;
  opacity: 0.6;
}