<Doc as |doc|>
  <doc.element @name="Input">
    <JubileeSwitch />
  </doc.element>
  <doc.controls />
  <doc.hbs @code={{this.code}} />
  <doc.info>
    <p>
      This component adheres to DDAU. A two-way binding can be achieved via
      the mut helper (see example above).
    </p>
  </doc.info>
</Doc>