<div local-class="root" class="media noSelect">
  <div local-class="section">
    Form Components
  </div>
  <ul>
    <li>
      <LinkTo @route="doc-jubilee-button">
        Button
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="doc-jubilee-date">
        Date
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="doc-jubilee-input">
        Input
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="doc-jubilee-select">
        Select
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="doc-jubilee-switch">
        Switch
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="doc-jubilee-text-field">
        TextField
      </LinkTo>
    </li>
  </ul>
</div>