<div local-class="root" class="media noSelect">
  <div local-class="section">
    Form Components
  </div>
  <ul>
    {{#link-to "doc-jubilee-input" tagName="li"}}
      Input
    {{/link-to}}
    {{#link-to "doc-jubilee-select" tagName="li"}}
      Select
    {{/link-to}}
    {{#link-to "doc-jubilee-switch" tagName="li"}}
      Switch
    {{/link-to}}
    {{#link-to "doc-jubilee-text-field" tagName="li"}}
      TextField
    {{/link-to}}
  </ul>
</div>