<div local-class="root">
  {{#if this.hasAnyLabel}}
    <JubileeLabel @label={{@label}} @label2={{@label2}}/>
  {{/if}}
  {{input
    id=(concat this.elementId "-input")
    readonly=computedIsReadonly
    class=(local-class "input")
    type="text"
    autocomplete="off"
    value=text
  }}
</div>