<div local-class="root">
  {{#if this.hasAnyLabel}}
    <JubileeLabel @label={{@label}} @label2={{@label2}}/>
  {{/if}}
  {{input 
    readonly=computedIsReadonly
    class=(local-class "input")
    type="text"
    autocomplete="new-password"
    value=text
  }}
</div>