<div local-class="root">
  {{#if this.hasAnyLabel}}
    <JubileeLabel @label={{@label}} @label2={{@label2}}/>
  {{/if}}
  {{input
    id=(concat this.elementId "-input")
    readonly=this.computedIsReadonly
    class=(local-class "input")
    type="text"
    autocomplete="off"
    value=this.onewayText
    focus-out=(action "onBlur")
    input=(action "onInput")
  }}
</div>