<div local-class="header">
  <div local-class="brand" class="noSelect">
    {{#link-to "index" tagName="div"}}
      Jubileesoft UI
    {{/link-to}}
  </div>
  <JubileeIcon onclick={{action "menuOnClick"}} @fa="bars" @size="2x" />
</div>