<div local-class="root">
  <div local-class="header">
    <div local-class="brand" class="noSelect">
      <LinkTo @route="index">
        Jubileesoft UI
      </LinkTo>
    </div>
    <JubileeIcon @fa="bars" @size="2x" {{on "click" this.menuOnClick}} />
  </div>
</div>