.root {
  composes: jubileeUi from '@jubileesoft/ember-jubileesoft-ui/styles/addon';
}

.largeRoot {
  position: relative;
  display: inline-block;
}

.isSmallModal {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.isSmallModalButtons {
  display: flex;
  flex-direction: row-reverse;  
}

.dateDropdown {
  position: absolute;
  z-index: 1;
  background: white;
}

.collapsed {
  visibility: collapse; 
}