<Doc as |doc|>
  <doc.element @name="Button">
    <JubileeButton
      @text="Speichern"
      @invert={{false}}
    />
  </doc.element>
  <doc.controls />
  <doc.hbs @code={{this.code}} />
  <doc.info>
    <p>
      This component adheres to DDAU.
    </p>
  </doc.info>
</Doc>