<Doc as |doc|>
  <doc.element @name="Button">
    <JubileeButton @text="Load Data" @isEnabled={{this.isEnabled}} />
  </doc.element>
  <doc.controls>
    <div>
      <input
        type="checkbox"
        checked={{this.isEnabled}}
        {{on "click" this.isEnabledClick}}
      />
      @isEnabled
    </div>
  </doc.controls>
  <doc.hbs @code={{this.code}} />
  <doc.info />
</Doc>